.navbar {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}